/* this is a CSS tutorial from freshman.tech */

html{
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *::before, *::after { 

	/* this sets the margin and padding of evry HTML element to zero and the box-sizing: border-box; dedeclaration changes the box model by ensuring that the padding and border of an elament no longer increases its width. */

	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* Basic calculator style */

.calculator {

	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

/* The calculator screen */

.calculator-screen{
	width: 100%;
	font-size: 5rem;
	height: 80px;
	border: none;
	background-color: #252525;
	color: #fff;
	text-align: right;
	padding-right: 20px;
	padding-left: 10px;
}

/* Button Styles */
button {

	height: 60px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	background-color: transparent;
	font-size: 2rem;
	color: #333;
	background-image: linear-gradient(to bottom, transparent,transparent 50%, rgba(0,0,0,.04));
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
	text-shadow: 0 1px rgba(255,255,255,.04);
}

button:hover{
	background-color: #eaeaea;
}
.operator {
	color: #337cac;
}
.all-clear {
	background-color: #f0595f;
	border-color: #b0353a;
	color: #fff;
}
.all-clear:hover {
	background-color: #f17377;
}
.equal-sign{
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;

}

.equal-sign:hover{
	background-color: #4e9ed4;
}

/* Use CSS grid to arrange the buttons */

.calculator-keys{
	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
	grid-template-columns: repeat(4, 1fr); /* this is the same as code above */
	grid-row-gap: 20px; /* this is to add space between button */
	grid-column-gap: 20px;

	/*grid-gap: 20px; short hand property above */
	padding:20px;
	} /* space between the buttons and the edges of the grid container as well as the calculator screen.
}

/* the fr unit in CSS represents a fraction of the available space in grid container. So 1fr means 1 part of the available space, 2fr means 2 parts, and so on.. */

/* Positioning the EQUAL button */

.equal-sign {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #ff;
	height: 100%;
	grid-area: 2 / 4 / 6 / 5; /* this is the short hand code for the below */


	/*
	grid-row: 2 / 6;
	grid-column: 4 / 5;*/

	/*
	the CSS code above is the short hand property for the below :;
	grid-row-start: 2; 
	grid-row-end: 6;
	grid-column-start: 4;
	grid-column-end: 5;*/

}

